#productos .card{
    margin: 1rem;
    
}


#productos .card img{
    height: 300px !important;
    width: auto;
    object-fit: cover;
}

#productos .card{
    text-align: center;
}

#productos .card .btn{
 background-color: #a6c7e8;
 border: 2px solid #85b7e9;
 
}
